<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <true />
        <key>Label</key>
        <string>com.vkhitrin.opencode</string>
        <key>LimitLoadToSessionType</key>
        <array>
            <string>Aqua</string>
            <string>Background</string>
            <string>LoginWindow</string>
            <string>StandardIO</string>
            <string>System</string>
        </array>
        <key>ProgramArguments</key>
        <array>
            <string>/opt/homebrew/bin/opencode</string>
            <string>serve</string>
            <string>--port</string>
            <string>51515</string>
            <string>--print-logs</string>
        </array>
        <key>RunAtLoad</key>
        <true />
        <key>StandardErrorPath</key>
        <string>$HOME/.local/state/opencode/plist-log/opencode.log</string>
        <key>StandardOutPath</key>
        <string>$HOME/.local/state/opencode/plist-log/opencode.log</string>
    </dict>
</plist>
